@import "reset";
@import "mixin";

html {
    height: 100%;
}
body {
    width: 100%;
    min-width: 320px;
    height: 100%;
    font-family: $--font-family-base;
    letter-spacing: .2px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    color: $--text-color;
    //background-color: $--color-white;
    direction: ltr;
    transition: color .5s,background-color .5s;
    overflow-wrap: break-word;
}
#app {
    height: 100%;
}

[class*=language-] pre, [class*=language-] code {
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    tab-size: 4;
    hyphens: none;
}

[class*=language-] code {
    padding: 0;
    line-height: $--code-line-height;
    font-size: $--code-font-size;
    color: $--code-text-color;
}

pre code {
    background-color: transparent;
}

code {
    margin: 0;
    border-radius: 4px;
    font-family: $--code-font-family;
}

h1, h2, h3, h4, h5, h6 {
    color: $--text-color-regular;
}

.a-full {
    width: 100%;
    height: 100%;
}
.a-w-f {
    width: 100%;
}
.a-w-200 {
    width: 200px !important;
}
.a-h-f {
    height: 100%;
}

.a-d-b {
    display: block;
}
.a-d-ib {
    display: inline-block;
}

.a-pos-r {
    position: relative;
}
.a-pos-a {
    position: absolute;
}

.a-bs-b {
    box-sizing: border-box;
}

.a-va-t {
    vertical-align: top;
}

.a-ta-c {
    text-align: center;
}

.a-ta-r {
    text-align: right;
}

.a-c-primary {
    color: $--color-primary;
}
.a-c-h-primary:hover {
    color: $--color-primary;
}
.a-c-h-lighter:hover {
    color: $--text-color-lighter;
}

.a-c-p {
    cursor: pointer;
}

.a-font-body-1 {
    font-size: $--font-size-base;
    font-weight: 400;
    line-height: 24px;
    color: $--text-color;
}

.a-font-body-2 {
    font-size: $--font-size-extra-small;
    font-weight: 400;
    line-height: 24px;
    color: $--text-color-light;
}

.a-font-body-3 {
    font-size: $--font-size-extra-small;
    font-weight: 400;
    line-height: 24px;
    color: $--text-color-lighter;
}

.a-font-title-1 {
    font-size: $--font-size-large;
    font-weight: 600;
    line-height: 24px;
    color: $--text-color;
}

.a-font-label-1 {
    font-size: $--font-size-medium;
    line-height: 24px;
    color: $--text-color;
}

.clearfix:after, .clearfix:before {
    visibility: hidden;
    display: block;
    height: 0;
    font-size: 0;
    content: '';
    clear: both
}

.ellipsis {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal
}

.multi-line-ellipsis {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 3.6em;
    text-align: justify;
    padding-right: 0
}

.multi-line-ellipsis:before {
    content: "...";
    position: absolute;
    right: 0;
    bottom: 0;
    background: #fff
}

.multi-line-ellipsis:after {
    content: "";
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: .2em;
    background: #fff
}

.hide-text {
    font-size: 0;
    text-shadow: none;
    color: transparent
}

.center-tl {
    position: relative
}

.center-tl>.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.span-label {
    display: inline-flex;
    align-items: center;
}

.inline-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: $--font-size-base;
    & > span {
        display: inline-flex;
        align-items: center;
        margin-right: 24px;
        color: $--text-color;
        i {
            margin-right: 4px;
        }
    }
    .clickable:hover {
        color: $--text-color-lighter;
        cursor: pointer;
    }
}

@media (max-width: 800px) {
    .inline-container > span {
        margin-right: 8px;
    }
}

.a-pt-header {
    padding-top: $--nav-height;
}

.a-bg-gray {
    background: $--bg-color-soft;
}

@each $key, $value in $margin-size {
    .a-p-#{$key} {
        padding: #{$value};
    }

    .a-pt-#{$key} {
        padding-top: #{$value};
    }

    .a-pb-#{$key} {
        padding-bottom: #{$value};
    }

    .a-pl-#{$key} {
        padding-left: #{$value};
    }

    .a-pr-#{$key} {
        padding-right: #{$value};
    }

    .a-p-v-#{$key} {
        padding-top: #{$value};
        padding-bottom: #{$value};
    }

    .a-p-h-#{$key} {
        padding-left: #{$value};
        padding-right: #{$value};
    }

    .a-m-#{$key} {
        margin: #{$value};
    }

    .a-mt-#{$key} {
        margin-top: #{$value};
    }

    .a-mb-#{$key} {
        margin-bottom: #{$value};
    }

    .a-ml-#{$key} {
        margin-left: #{$value};
    }

    .a-mr-#{$key} {
        margin-right: #{$value};
    }

    .a-m-v-#{$key} {
        margin-top: #{$value};
        margin-bottom: #{$value};
    }

    .a-m-h-#{$key} {
        margin-left: #{$value};
        margin-right: #{$value};
    }
}

@each $key, $value in $orientation {
    .a-b#{$key}-base {
        border-#{$value}: $--border;
    }
    .a-b#{$key}-lighter {
        border-#{$value}: $--border-width $--border-style  $--border-color-lighter;
    }
}

/* 解决el-dropdown获取到焦点或点击出现黑边情况 */
.el-tooltip__trigger:focus {
    outline: none;
}