/**             color                **/
$white: #fff;
$black: #000;
$color-primary: #409eff;


/**             padding margin size                **/
$size: (
  xxs: 4px,
  xs: 8px,
  sm: 12px,
  md: 16px,
  lg: 24px,
  xl: 36px,
  xxl: 40px
);

/**             font size                **/
$font-size: (
  sm: 12px,
  base: 14px,
  md: 16px,
  lg: 18px,
  xl: 20px
);